<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="renderer" content="webkit">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>OBJUI IM 通讯录</title>
		
		<link rel="stylesheet" href="css/public.css" />
		<link rel="stylesheet" href="css/element.min.css" />
		<link rel="stylesheet" href="css/font-awesome.min.css">
		<link rel="stylesheet" href="css/style.css" />
        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
		<script type="text/javascript" src="js/html5.js"></script>
		<script type="text/javascript" src="js/flexible.js"></script>
	</head>
	<body>
		<div id="app" v-cloak v-cloak v-loading.fullscreen.lock="fullscreenLoading">
			<header id="header">
				<span>通讯录</span>
			</header>
			<article id="frends-list">
				<ul>
					<li class="margin-bottom-20 search-input">
						<el-input placeholder="请输入内容"  v-model="frend_search" prefix-icon="el-icon-search"></el-input>
						
					</li>
					
					<li v-for="item in frends_list" :data-id="item.id" @click="edit(item.id)">
						<div class="bubble">
							<img class="left" :src="item.src">
							<p>{{item.name}}</p>
						</div>
					</li>
					
					<li class="margin-top add-frend">
						<div class="bubble">
							<img class="left" src="images/ico-add3.png" width=".2rem">
							<p>添加联系人</p>
						</div>
					</li>
					
				</ul>
				
			</article>
			
			<iframe src="footer.html" id="footer"></iframe>
		</div>
		<script type="text/javascript" src="js/vue.min.js" ></script>
		<script type="text/javascript" src="js/element.min.js" ></script>
		<script type="text/javascript" src="lib/address.js"></script>
	</body>
</html>
